.nav {
    grid-area: n;
    background: #dccc8f;
    padding: 10px;
}

.item {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
}
.item.active {
    color: gold;
}